@model ExpensiveControlApp.DTOs.ListExpensiveDTO

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="row">
    <div class="d-flex justify-content-between mb-5">

        <h1>Despesas</h1>



        <a asp-action="Create" asp-controller="Expensive" class="btn btn-primary btn-lg btn-block">+ Nova despesa</a>
    </div>

</div>


<form class="mb-3" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input asp-for="StartDate" type="date" placeholder="Digite a Data Inicial" class="form-control" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input asp-for="EndDate" type="date" placeholder="Digite a Data Final" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
            </div>
        </div>
    </div>
</form>

@if (Model.Items.Count > 0)
{
    <div class="row">
        <div class="col-md-4">
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th>Número de Registros</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Count</td>
                        <td>R$ @Model.Total.ToString("00.00")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
<div class="row">
    <div class="col-md">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Count > 0)
                {
                    foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Description</td>
                            <td>@item.Date.ToString("dd/MM/yyyy")</td>
                            <td>R$ @item.Value.ToString("00.00")</td>
                            <td><a asp-action="Edit" asp-route-id="@item.Id">Editar</a> | <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Nenhum registro encontrado.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
